<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--MSSQL Server 2012-->
    <add name="OrderManageForSqlServer2012"
         connectionString="data source=.;initial catalog=OrderManagementDatabase;integrated security=True;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
    <add name="IOrderManageForSqlServer2012"
         connectionString="data source=.;initial catalog=InheritOrderManagementDatabase;integrated security=True;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
    <!--MSSQL Server 2005-->
    <add name="OrderManageForSqlServer2005"
         connectionString="data source=.\SQL2008;initial catalog=OrderManagementDatabase;integrated security=True;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
    <add name="IOrderManageForSqlServer2005"
         connectionString="data source=.\SQL2008;initial catalog=InheritOrderManagementDatabase;integrated security=True;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
    <!--MySQL 5.6-->
    <!--MySQL connection string must contanis Allow User Variables=True-->
    <add name="OrderManageForMySql55"
         connectionString="server=localhost;database=OrderManagementDatabase;user id=root;password=qwer.1234;characterset=utf8;Allow User Variables=True"
         providerName="MySql.Data.MySqlClient" />
    <add name="IOrderManageForMySql55"
         connectionString="server=localhost;database=InheritOrderManagementDatabase;user id=root;password=qwer.1234;characterset=utf8;Allow User Variables=True"
         providerName="MySql.Data.MySqlClient" />
    <!--SQLite 3-->
    <add name="OrderManageForSQLite3"
         connectionString="data source=OrderManagementDatabase.sqlite3"
         providerName="System.Data.SQLite" />
    <add name="IOrderManageForSQLite3"
         connectionString="data source=InheritOrderManagementDatabase.sqlite3"
         providerName="System.Data.SQLite" />
    <!--PostgresSQL 9.3-->
    <add name="OrderManageForPostgresSQL93"
         connectionString="Database=ordermanagementdatabase;Username=postgres;Password=postgres;Host=localhost"
         providerName="Npgsql" />
    <add name="IOrderManageForPostgresSQL93"
         connectionString="Database=inheritordermanagementdatabase;Username=postgres;Password=postgres;Host=localhost"
         providerName="Npgsql" />
    <!--Access 2003-->
    <add name="OrderManageForAccess2003"
         connectionString="Provider =MicroSoft.ACE.OLEDB.12.0;Data Source=OrderManagementDatabase.mdb;Persist Security Info=False"
         providerName="System.Data.Access" />
    <add name="IOrderManageForAccess2003"
         connectionString="Provider =MicroSoft.ACE.OLEDB.12.0;Data Source=InheritOrderManagementDatabase.mdb;Persist Security Info=False"
         providerName="System.Data.Access" />
    <!--Excel 2003-->
    <add name="OrderManageForExcel2003"
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=OrderManagementDatabase.xls;Extended Properties='Excel 12.0 Xml;HDR=YES'"
         providerName="System.Data.Excel" />
    <add name="IOrderManageForExcel2003"
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=InheritOrderManagementDatabase.xls;Extended Properties='Excel 12.0 Xml;HDR=YES'"
         providerName="System.Data.Excel" />
    <!--Firebird 2.5-->
    <!--Need configrue %ProgramFiles%\Firebird\Firebird_2_5\aliases.conf for database alias.-->
    <add name="OrderManageForFirebird25"
         connectionString="user id=SYSDBA;password=masterkey;initial catalog=OrderManagementDatabase;data source=localhost"
         providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="IOrderManageForFirebird25"
         connectionString="user id=SYSDBA;password=masterkey;initial catalog=InheritOrderManagementDatabase;data source=localhost"
         providerName="FirebirdSql.Data.FirebirdClient" />
    <!--Oracle 11g-->
    <add name="OrderManageForOracle11"
         connectionString="USER ID=SIMPLE;PASSWORD=manager;DATA SOURCE=localhost"
         providerName="Oracle.ManagedDataAccess.Client" />
    <add name="IOrderManageForOracle11"
         connectionString="USER ID=INHERIT;PASSWORD=manager;DATA SOURCE=localhost"
         providerName="Oracle.ManagedDataAccess.Client" />
    <!--Microsfot SQL Server Compact 4.0   -->
    <add name="OrderManageForSqlServerCe40"
         connectionString="Data Source=OrderManagementDatabase.sdf"
         providerName="System.Data.SqlServerCe" />
    <add name="IOrderManageForSqlServerCe40"
         connectionString="Data Source=InheritOrderManagementDatabase.sdf"
         providerName="System.Data.SqlServerCe" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <remove invariant="System.Data.SQLite" />
      <remove invariant="Npgsql" />
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <remove invariant="Sybase.AdoNet4.AseClient" />
      <remove invariant="IBM.Data.DB2" />

      <add name="PostgresSQL Data Provider"
           invariant="Npgsql"
           description=".Net Framework Data Provider for PostgresSQL"
           type="Npgsql.NpgsqlFactory, Npgsql, Version=3.1.9.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"
           />
      <add name="Sybase Data Provider"
           invariant="Sybase.AdoNet4.AseClient"
           description=".Net Framework Data Provider for Sybase"
           type="Sybase.Data.AseClient.AseClientFactory, Sybase.AdoNet4.AseClient, Version=4.157.104.0, Culture=neutral, PublicKeyToken=95d94fac46c88e1e"
           />
      <add name="DB2 Data Provider"
           invariant="IBM.Data.DB2"
           description=".Net Framework Data Provider for DB2"
           type="IBM.Data.DB2.DB2Factory, IBM.Data.DB2, Version=9.7.4.4, Culture=neutral, PublicKeyToken=7c307b91aa13d208"
           />
      <add name="MySQL Data Provider"
           invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"
           />
      <add name="SQLite Data Provider"
           invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.108.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"
           />
      <add name="ODP.NET, Managed Driver"
           invariant="Oracle.ManagedDataAccess.Client"
           description="Oracle Data Provider for .NET, Managed Driver"
           type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"
           />
      <add name="FirebirdClient Data Provider"
           invariant="FirebirdSql.Data.FirebirdClient"
           description=".NET Framework Data Provider for Firebird"
           type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient, Version=5.12.0.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c"
           />
      <add name="Microsoft SQL Server Compact Data Provider 4.0"
           invariant="System.Data.SqlServerCe"
           description=".NET Framework Data Provider for Microsoft SQL Server Compact"
           type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
           />
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>